# Gradle / build outputs
.gradle/
build/
**/build/

# Java binaries & class files
*.class
bin/
out/

# IntelliJ / IDE
.idea/
*.iml
*.ipr

# VS Code
.vscode/

# Maven
target/

# OS / misc
.DS_Store
*.log
